@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype");
}
